// DXGL
// Copyright (C) 2011-2017 William Feely

// This library is free software; you can redistribute it and/or
// modify it under the terms of the GNU Lesser General Public
// License as published by the Free Software Foundation; either
// version 2.1 of the License, or (at your option) any later version.

// This library is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
// Lesser General Public License for more details.

// You should have received a copy of the GNU Lesser General Public
// License along with this library; if not, write to the Free Software
// Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"
#include "../common/version.h"




//
// Dialog resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_DXGLCFG DIALOG 0, 0, 405, 261
STYLE DS_3DLOOK | DS_CONTEXTHELP | DS_SETFONT | WS_CAPTION | WS_SYSMENU
CAPTION "DXGL Config"
FONT 8, "Ms Shell Dlg 2"
{
    DEFPUSHBUTTON   "OK", IDOK, 247, 243, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 299, 243, 50, 14, 0, WS_EX_LEFT
    LTEXT           "", IDC_STATIC, 4, 240, 397, 1, SS_LEFT | SS_SUNKEN, WS_EX_LEFT
    PUSHBUTTON      "&Apply", IDC_APPLY, 351, 243, 50, 14, WS_DISABLED, WS_EX_LEFT
    LISTBOX         IDC_APPS, 4, 14, 181, 208, WS_TABSTOP | WS_VSCROLL | LBS_NOINTEGRALHEIGHT | LBS_OWNERDRAWFIXED | LBS_NOTIFY, WS_EX_LEFT
    LTEXT           "Applications", IDC_STATIC, 4, 4, 39, 8, SS_LEFT, WS_EX_LEFT
    PUSHBUTTON      "A&dd...", IDC_ADD, 4, 224, 90, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "&Remove", IDC_REMOVE, 96, 224, 90, 14, WS_DISABLED, WS_EX_LEFT
    GROUPBOX        "Graphics settings", IDC_STATIC, 190, 4, 211, 234, 0, WS_EX_LEFT
    LTEXT           "Video mode", IDC_STATIC, 195, 14, 38, 8, SS_LEFT, WS_EX_LEFT
    COMBOBOX        IDC_VIDMODE, 195, 24, 102, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS, WS_EX_LEFT
    AUTOCHECKBOX    "Change display color depth", IDC_COLOR, 299, 14, 100, 10, 0, WS_EX_LEFT
    LTEXT           "Scaling method (final pass)", IDC_STATIC, 195, 90, 86, 9, SS_LEFT, WS_EX_LEFT
    COMBOBOX        IDC_SCALE, 195, 101, 102, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS, WS_EX_LEFT
    LTEXT           "Fullscreen window mode", IDC_STATIC, 299, 90, 78, 8, SS_LEFT, WS_EX_LEFT
    COMBOBOX        IDC_FULLMODE, 299, 101, 100, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS, WS_EX_LEFT
    LTEXT           "Scaling method (1st pass)", IDC_STATIC, 195, 64, 83, 9, SS_LEFT, WS_EX_LEFT
    COMBOBOX        IDC_PRESCALE, 195, 75, 102, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS, WS_EX_LEFT
    COMBOBOX        IDC_PRESCALESIZE, 299, 75, 100, 30, CBS_DROPDOWN | CBS_HASSTRINGS, WS_EX_LEFT
    LTEXT           "1st pass scale size", 0, 299, 64, 60, 9, SS_LEFT, WS_EX_LEFT
    LTEXT           "Screen aspect ratio", IDC_STATIC, 195, 116, 63, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Windows DPI scaling mode", IDC_STATIC, 299, 116, 86, 9, SS_LEFT, WS_EX_LEFT
    COMBOBOX        IDC_ASPECT, 195, 126, 102, 30, CBS_DROPDOWN | CBS_HASSTRINGS, WS_EX_LEFT
    COMBOBOX        IDC_DPISCALE, 299, 126, 100, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS, WS_EX_LEFT
    LTEXT           "Texture filter", IDC_STATIC, 195, 141, 43, 8, SS_LEFT, WS_EX_LEFT
    COMBOBOX        IDC_TEXFILTER, 195, 151, 102, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS, WS_EX_LEFT
    LTEXT           "Anisotropic filtering", IDC_STATIC, 299, 141, 62, 8, SS_LEFT, WS_EX_LEFT
    COMBOBOX        IDC_ANISO, 299, 151, 100, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS, WS_EX_LEFT
    LTEXT           "Antialiasing (MSAA)", IDC_STATIC, 195, 166, 63, 8, SS_LEFT, WS_EX_LEFT
    COMBOBOX        IDC_MSAA, 195, 176, 102, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS, WS_EX_LEFT
    LTEXT           "3D renderer aspect ratio", IDC_STATIC, 299, 166, 80, 8, SS_LEFT, WS_EX_LEFT
    COMBOBOX        IDC_ASPECT3D, 299, 176, 100, 14, CBS_DROPDOWNLIST | CBS_HASSTRINGS, WS_EX_LEFT
    AUTOCHECKBOX    "Adjust primary resolution", IDC_HIGHRES, 299, 27, 96, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Support all color depths", IDC_UNCOMMONCOLOR, 299, 53, 91, 8, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Add extra display modes", IDC_EXTRAMODES, 299, 40, 95, 8, 0, WS_EX_LEFT
    LTEXT           "Sort video modes", IDC_STATIC, 195, 39, 56, 8, SS_LEFT, WS_EX_LEFT
    COMBOBOX        IDC_SORTMODES, 195, 49, 102, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS, WS_EX_LEFT
    LTEXT           "Texture format", IDC_STATIC, 195, 191, 50, 8, SS_LEFT, WS_EX_LEFT
    COMBOBOX        IDC_TEXTUREFORMAT, 195, 201, 102, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS, WS_EX_LEFT
    LTEXT           "Texture access method", IDC_STATIC, 299, 191, 76, 8, SS_LEFT, WS_EX_LEFT
    COMBOBOX        IDC_TEXUPLOAD, 299, 201, 100, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS, WS_EX_LEFT
    EDITTEXT        IDC_PROFILEPATH, 215, 223, 184, 14, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, WS_EX_LEFT
    LTEXT           "Path:", IDC_PATHLABEL, 196, 223, 18, 9, SS_LEFT, WS_EX_LEFT
}



//
// Icon resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_DXGL           ICON           "..\\common\\dxgl.ico"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_DXGLSM         ICON           "..\\common\\dxglsm.ico"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_STAR           ICON           "..\\common\\star.ico"



//
// Version Information resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
1 VERSIONINFO
    FILEVERSION     DXGLVERNUMBER
    PRODUCTVERSION  DXGLVERNUMBER
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x00000000
    FILEFLAGS       0x00000000
{
    BLOCK "StringFileInfo"
    {
        BLOCK "08000352"
        {
            VALUE "FileDescription", "DXGL Configuration Program"
            VALUE "FileVersion", DXGLVERSTRING
            VALUE "InternalName", "DXGL"
            VALUE "LegalCopyright", "Copyright © 2011-2014 William Feely"
            VALUE "OriginalFilename", "dxglcfg.exe"
            VALUE "ProductName", "DXGL"
            VALUE "ProductVersion", DXGLVERSTRING
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0800, 0x0352
    }
}



//
// Manifest resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST    "xp.manifest"
