// DXGL
// Copyright (C) 2011 William Feely

// This library is free software; you can redistribute it and/or
// modify it under the terms of the GNU Lesser General Public
// License as published by the Free Software Foundation; either
// version 2.1 of the License, or (at your option) any later version.

// This library is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
// Lesser General Public License for more details.

// You should have received a copy of the GNU Lesser General Public
// License along with this library; if not, write to the Free Software
// Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"




//
// Dialog resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_DXGLCFG DIALOG 0, 0, 405, 265
STYLE DS_3DLOOK | DS_SETFONT | WS_CAPTION | WS_GROUP | WS_SYSMENU
CAPTION "DXGL Config"
FONT 8, "Ms Shell Dlg 2"
{
    DEFPUSHBUTTON   "OK", IDOK, 247, 247, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 299, 247, 50, 14
    LTEXT           "", IDC_STATIC, 4, 244, 397, 1, SS_LEFT | SS_SUNKEN
    PUSHBUTTON      "&Apply", IDC_APPLY, 351, 247, 50, 14
    LISTBOX         IDC_APPS, 4, 14, 181, 212, WS_TABSTOP | WS_VSCROLL | LBS_NOINTEGRALHEIGHT | LBS_OWNERDRAWFIXED | LBS_SORT | LBS_NOTIFY
    LTEXT           "Applications", IDC_STATIC, 4, 4, 39, 8, SS_LEFT
    PUSHBUTTON      "A&dd...", IDC_ADD, 4, 228, 50, 14
    PUSHBUTTON      "&Remove", IDC_REMOVE, 59, 228, 50, 14
    PUSHBUTTON      "&Install/Uninstall...", IDC_INSTALL, 114, 228, 71, 14
    GROUPBOX        "Graphics", IDC_STATIC, 190, 4, 211, 184
    LTEXT           "Video mode", IDC_STATIC, 195, 14, 38, 8, SS_LEFT
    COMBOBOX        IDC_VIDMODE, 195, 24, 102, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS
    AUTOCHECKBOX    "Change color depth", IDC_COLOR, 299, 14, 79, 10
    LTEXT           "Scaling method", IDC_STATIC, 195, 69, 49, 8, SS_LEFT
    COMBOBOX        IDC_SCALE, 195, 79, 102, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "Vertical sync", IDC_STATIC, 299, 69, 41, 8, SS_LEFT
    COMBOBOX        IDC_VSYNC, 299, 79, 100, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "Scaling shader", IDC_STATIC, 195, 94, 47, 8, SS_LEFT
    EDITTEXT        IDC_SHADER, 195, 104, 183, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "...", IDC_BROWSESHADER, 379, 104, 20, 14
    LTEXT           "Texture filter", IDC_STATIC, 195, 120, 43, 8, SS_LEFT
    COMBOBOX        IDC_TEXFILTER, 195, 130, 102, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "Anisotropic filtering", IDC_STATIC, 299, 120, 62, 8, SS_LEFT
    COMBOBOX        IDC_ANISO, 299, 130, 100, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "Antialiasing (MSAA)", IDC_STATIC, 195, 145, 63, 8, SS_LEFT
    COMBOBOX        IDC_MSAA, 196, 155, 101, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "Aspect ratio", IDC_STATIC, 300, 145, 40, 8, SS_LEFT
    COMBOBOX        IDC_ASPECT, 299, 155, 100, 14, CBS_DROPDOWNLIST | CBS_HASSTRINGS
    GROUPBOX        "Audio", IDC_STATIC, 190, 190, 211, 24
    AUTOCHECKBOX    "Enable 3D audio", IDC_AUDIO3D, 194, 200, 67, 10, WS_DISABLED
    AUTOCHECKBOX    "Force global audio", IDC_AUDIOGLOBAL, 299, 200, 74, 10, WS_DISABLED
    GROUPBOX        "Input", IDC_STATIC, 190, 216, 211, 26
    AUTOCHECKBOX    "Force global input", IDC_INPUTGLOBAL, 194, 227, 73, 10, WS_DISABLED
    PUSHBUTTON      "Configure controllers...", IDC_INPUTCFG, 299, 223, 80, 14, WS_DISABLED
    AUTOCHECKBOX    "Always cache surfaces to system memory", IDC_SYSMEMCACHE, 196, 173, 149, 10
    AUTOCHECKBOX    "Adjust Primary resolution", IDC_HIGHRES, 299, 28, 96, 8
    AUTOCHECKBOX    "Support All Color Depths", IDC_UNCOMMONCOLOR, 299, 55, 94, 8
    AUTOCHECKBOX    "Add Extra Display Modes", IDC_EXTRAMODES, 299, 42, 102, 8
    LTEXT           "Sort video modes", IDC_STATIC, 196, 39, 56, 8, SS_LEFT
    COMBOBOX        IDC_SORTMODES, 196, 49, 101, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS
}



//
// Icon resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_DXGL           ICON           "..\\common\\dxgl.ico"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_DXGLSM         ICON           "..\\common\\dxglsm.ico"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_STAR           ICON           "..\\common\\star.ico"


//
// Version Information resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
1 VERSIONINFO
    FILEVERSION     0,0,6,0
    PRODUCTVERSION  0,0,6,0
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x00000000
    FILEFLAGS       0x00000000
{
    BLOCK "StringFileInfo"
    {
        BLOCK "08000352"
        {
            VALUE "FileDescription", "DXGL Configuration Program"
            VALUE "FileVersion", "0.0.6.0"
            VALUE "InternalName", "DXGL"
            VALUE "LegalCopyright", "Copyright © 2011 William Feely"
            VALUE "OriginalFilename", "dxglcfg.exe"
            VALUE "ProductName", "DXGL"
            VALUE "ProductVersion", "0.0.6.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0800, 0x0352
    }
}


//
// Manifest resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST    "xp.manifest"
