// DXGL
// Copyright (C) 2011 William Feely

// This library is free software; you can redistribute it and/or
// modify it under the terms of the GNU Lesser General Public
// License as published by the Free Software Foundation; either
// version 2.1 of the License, or (at your option) any later version.

// This library is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
// Lesser General Public License for more details.

// You should have received a copy of the GNU Lesser General Public
// License along with this library; if not, write to the Free Software
// Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"
#include "../common/version.h"




//
// Dialog resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_DXGLTEST DIALOG 0, 0, 354, 242
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "DXGL Test App"
FONT 8, "Ms Shell Dlg"
{
    DEFPUSHBUTTON   "Close", IDOK, 299, 223, 50, 14
    CONTROL         "", IDC_TABS, WC_TABCONTROL, 0, 5, 5, 344, 215
}



LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_SYSINFO DIALOG 0, 0, 340, 199
STYLE DS_3DLOOK | DS_CENTER | DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW
FONT 8, "Ms Shell Dlg"
{
    GROUPBOX        "File info", IDC_STATIC, 7, 7, 137, 185
    LTEXT           "ddraw.dll type", IDC_STATIC, 13, 18, 44, 8, SS_LEFT
    EDITTEXT        IDC_DDTYPE, 82, 18, 57, 14, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_DDVER, 82, 34, 57, 14, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "ddraw.dll version", IDC_STATIC, 13, 34, 54, 8, SS_LEFT
    EDITTEXT        IDC_DDEXVER, 82, 50, 57, 14, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_D3DVER, 82, 66, 57, 14, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_D3D7VER, 82, 82, 57, 14, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_D3DREFVER, 82, 98, 57, 14, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_D3DRAMPVER, 82, 114, 57, 14, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_D3DRMVER, 82, 130, 57, 14, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_D3DXOFVER, 82, 146, 57, 14, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_D3DPMESHVER, 82, 162, 57, 14, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "ddrawex.dll version", IDC_STATIC, 13, 50, 61, 8, SS_LEFT
    LTEXT           "d3dim.dll version", IDC_STATIC, 13, 66, 53, 8, SS_LEFT
    LTEXT           "d3dim700.dll version", IDC_STATIC, 13, 82, 65, 8, SS_LEFT
    LTEXT           "d3dref.dll version", IDC_STATIC, 13, 98, 54, 8, SS_LEFT
    LTEXT           "d3dramp.dll version", IDC_STATIC, 13, 114, 62, 8, SS_LEFT
    LTEXT           "d3drm.dll version", IDC_STATIC, 13, 130, 45, 8, SS_LEFT
    LTEXT           "d3dxof.dll version", IDC_STATIC, 13, 146, 47, 8, SS_LEFT
    LTEXT           "d3dpmesh.dll version", IDC_STATIC, 13, 162, 67, 8, SS_LEFT
    PUSHBUTTON      "Run DXDiag", IDC_DXDIAG, 13, 175, 45, 14
}



LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_TESTGFX DIALOG 0, 0, 340, 199
STYLE DS_3DLOOK | DS_CENTER | DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW
FONT 8, "Ms Shell Dlg"
{
    LTEXT           "Test graphics functionality in DXGL or DirectDraw.", IDC_TESTHEADER, 6, 4, 327, 8, SS_LEFT
    GROUPBOX        "Select test", IDC_STATIC, 6, 17, 213, 134
    GROUPBOX        "Resolution", IDC_STATIC, 226, 17, 108, 134
    LISTBOX         IDC_TESTLIST, 12, 30, 200, 115, WS_TABSTOP | WS_VSCROLL | LBS_NOINTEGRALHEIGHT | LBS_NOTIFY
    LISTBOX         IDC_VIDMODES, 232, 30, 96, 115, WS_TABSTOP | WS_VSCROLL | LBS_NOINTEGRALHEIGHT | LBS_NOTIFY
    GROUPBOX        "Display mode", IDC_STATIC, 6, 155, 57, 38
    RADIOBUTTON     "Windowed", IDC_WINDOWED, 9, 167, 50, 8, WS_GROUP
    RADIOBUTTON     "Fullscreen", IDC_FULLSCREEN, 9, 178, 48, 8
    EDITTEXT        IDC_APIVER, 75, 179, 52, 14, WS_DISABLED | ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPINAPI, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY, 115, 179, 12, 14
    AUTOCHECKBOX    "V-Sync", IDC_VSYNC, 138, 159, 39, 8
    LTEXT           "Back buffers", IDC_STATIC, 137, 169, 41, 8, SS_LEFT
    EDITTEXT        IDC_BUFFERS, 136, 179, 43, 14, WS_DISABLED | ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPINBACK, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY, 167, 179, 12, 14
    LTEXT           "Texture filter", IDC_FILTERLABEL, 186, 171, 40, 8, SS_LEFT
    COMBOBOX        IDC_FILTER, 186, 180, 66, 19, WS_DISABLED | CBS_DROPDOWN | CBS_HASSTRINGS
    LTEXT           "Frame rate", IDC_STATIC, 187, 159, 34, 8, SS_LEFT
    EDITTEXT        IDC_FRAMERATE, 223, 155, 49, 14, WS_DISABLED | ES_AUTOHSCROLL
    CONTROL         "", IDC_SPINFRAME, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY, 261, 155, 12, 14
    COMBOBOX        IDC_FSAA, 257, 180, 70, 19, WS_DISABLED | CBS_DROPDOWN | CBS_HASSTRINGS
    LTEXT           "Antialiasing", IDC_FSAALABEL, 259, 171, 36, 8, SS_LEFT
    PUSHBUTTON      "Run test", IDC_TEST, 277, 155, 56, 14, WS_DISABLED
    LTEXT           "API version", IDC_STATIC, 75, 169, 37, 8, SS_LEFT
    AUTOCHECKBOX    "Resizable", IDC_RESIZABLE, 75, 159, 47, 8
}



LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_TEXSHADER DIALOG 0, 0, 487, 317
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Texture Shader Demo"
FONT 8, "Ms Shell Dlg"
{
    CONTROL         "", IDC_DISPLAY, WC_STATIC, WS_BORDER | SS_GRAYRECT, 7, 7, 236, 221
    GROUPBOX        "Texture Stage", IDC_STATIC, 248, 7, 152, 152
    LTEXT           "Stage", IDC_STATIC, 254, 21, 20, 8, SS_LEFT
    EDITTEXT        IDC_TEXSTAGE, 279, 18, 24, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPINSTAGE, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_WRAP | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 291, 18, 11, 14
    LTEXT           "ColorKey", IDC_STATIC, 308, 21, 29, 8, SS_LEFT
    EDITTEXT        IDC_TEXCOLORKEY, 339, 18, 40, 14, ES_AUTOHSCROLL
    CONTROL         "", IDC_SETTEXCOLORKEY, WC_BUTTON, WS_TABSTOP | WS_TABSTOP | BS_OWNERDRAW, 381, 18, 14, 14
    LTEXT           "Texture", IDC_STATIC, 254, 36, 25, 8, SS_LEFT
    COMBOBOX        IDC_TEXTURE, 289, 34, 106, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "File", IDC_STATIC, 254, 52, 12, 8, SS_LEFT
    EDITTEXT        IDC_TEXTUREFILE, 289, 49, 93, 13, ES_AUTOHSCROLL
    PUSHBUTTON      "...", IDC_TEXTUREBROWSE, 384, 49, 11, 13
    CONTROL         "", IDC_STATIC, WC_STATIC, SS_ETCHEDHORZ, 254, 64, 141, 1
    LTEXT           "Color Arg. 1", IDC_STATIC, 254, 69, 38, 8, SS_LEFT
    COMBOBOX        IDC_CARG1, 297, 67, 48, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    AUTOCHECKBOX    "Inv", IDC_CARG1INV, 347, 70, 26, 8
    AUTOCHECKBOX    "A", IDC_CARG1A, 374, 70, 21, 8
    LTEXT           "Color Arg. 2", IDC_STATIC, 254, 84, 38, 8, SS_LEFT
    COMBOBOX        IDC_CARG2, 297, 82, 48, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    AUTOCHECKBOX    "Inv", IDC_CARG2INV, 347, 84, 26, 8
    AUTOCHECKBOX    "A", IDC_CARG2A, 374, 84, 21, 8
    LTEXT           "Color Op.", IDC_STATIC, 254, 99, 30, 8, SS_LEFT
    COMBOBOX        IDC_COLOROP, 297, 97, 98, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "Alpha Arg. 1", IDC_STATIC, 254, 114, 40, 8, SS_LEFT
    COMBOBOX        IDC_AARG1, 297, 112, 48, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    AUTOCHECKBOX    "Inv", IDC_AARG1INV, 347, 115, 26, 8
    AUTOCHECKBOX    "A", IDC_AARG1A, 374, 115, 21, 8
    LTEXT           "Alpha Arg. 2", IDC_STATIC, 254, 129, 40, 8, SS_LEFT
    COMBOBOX        IDC_AARG2, 297, 127, 48, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    AUTOCHECKBOX    "Inv", IDC_AARG2INV, 347, 129, 26, 8
    AUTOCHECKBOX    "A", IDC_AARG2A, 374, 129, 21, 8
    LTEXT           "Alpha Op.", IDC_STATIC, 254, 144, 32, 8, SS_LEFT
    COMBOBOX        IDC_ALPHAOP, 297, 142, 98, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    CONTROL         "", IDC_TEXTUREPREVIEW, WC_STATIC, WS_BORDER | SS_GRAYRECT, 402, 9, 78, 78
    GROUPBOX        "Colors", IDC_STATIC, 248, 161, 152, 67
    LTEXT           "Diffuse", IDC_STATIC, 255, 172, 23, 8, SS_LEFT
    EDITTEXT        IDC_DIFFUSE, 254, 182, 40, 14, ES_AUTOHSCROLL
    CONTROL         "", IDC_DIFFUSESELECT, WC_BUTTON, WS_TABSTOP | WS_TABSTOP | BS_OWNERDRAW, 297, 182, 24, 14
    LTEXT           "Specular", IDC_STATIC, 326, 172, 29, 8, SS_LEFT
    EDITTEXT        IDC_SPECULAR, 326, 182, 40, 14, ES_AUTOHSCROLL
    CONTROL         "", IDC_SPECULARSELECT, WC_BUTTON, WS_TABSTOP | WS_TABSTOP | BS_OWNERDRAW, 371, 182, 24, 14
    LTEXT           "Factor", IDC_STATIC, 255, 198, 21, 8, SS_LEFT
    EDITTEXT        IDC_FACTOR, 254, 208, 40, 14, ES_AUTOHSCROLL
    CONTROL         "", IDC_FACTORSELECT, WC_BUTTON, WS_TABSTOP | WS_TABSTOP | BS_OWNERDRAW, 297, 208, 24, 14
    LTEXT           "Fog", IDC_STATIC, 326, 198, 13, 8, SS_LEFT
    EDITTEXT        IDC_FOGCOLOR, 326, 208, 40, 14, ES_AUTOHSCROLL
    CONTROL         "", IDC_FOGCOLORSELECT, WC_BUTTON, WS_TABSTOP | WS_TABSTOP | BS_OWNERDRAW, 371, 208, 24, 14
    GROUPBOX        "Alpha Blending", IDC_STATIC, 402, 92, 78, 136
    AUTOCHECKBOX    "Alpha Tests", IDC_ALPHATEST, 408, 102, 53, 8
    LTEXT           "Source Blend Factor", IDC_STATIC, 408, 112, 66, 8, SS_LEFT
    COMBOBOX        IDC_SRCBLEND, 408, 122, 66, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "Dest. Blend Factor", IDC_STATIC, 408, 137, 60, 8, SS_LEFT
    COMBOBOX        IDC_DESTBLEND, 408, 146, 66, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "Ref. Alpha", IDC_STATIC, 408, 164, 34, 8, SS_LEFT
    EDITTEXT        IDC_ALPHAREF, 444, 161, 30, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPINALPHAREF, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 462, 161, 11, 14
    LTEXT           "Alpha Function", IDC_STATIC, 408, 177, 48, 8, SS_LEFT
    COMBOBOX        IDC_ALPHAFUNC, 408, 187, 66, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    AUTOCHECKBOX    "Stippled", IDC_ALPHASTIPPLE, 408, 202, 41, 8
    AUTOCHECKBOX    "Key", IDC_COLORKEY, 408, 215, 26, 8
    AUTOCHECKBOX    "KeyBlend", IDC_COLORKEYBLEND, 434, 215, 44, 8
    GROUPBOX        "Fog", IDC_STATIC, 7, 230, 158, 80
    LTEXT           "Vertex Fog Mode", IDC_STATIC, 13, 241, 55, 8, SS_LEFT
    COMBOBOX        IDC_VERTEXFOGMODE, 13, 251, 72, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "Pixel Fog Mode", IDC_STATIC, 88, 241, 50, 8, SS_LEFT
    COMBOBOX        IDC_PIXELFOGMODE, 88, 251, 72, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "Start", IDC_STATIC, 13, 266, 16, 8, SS_LEFT
    EDITTEXT        IDC_FOGSTART, 13, 276, 45, 14, ES_AUTOHSCROLL
    LTEXT           "End", IDC_STATIC, 63, 266, 14, 8, SS_LEFT
    EDITTEXT        IDC_FOGEND, 63, 276, 45, 14, ES_AUTOHSCROLL
    LTEXT           "Density", IDC_STATIC, 113, 266, 24, 8, SS_LEFT
    EDITTEXT        IDC_FOGDENSITY, 113, 276, 45, 14, ES_AUTOHSCROLL
    AUTOCHECKBOX    "Range based fog", IDC_RANGEBASEDFOG, 13, 295, 71, 8
    GROUPBOX        "Line and Fill Stipple", IDC_STATIC, 170, 230, 143, 80
    LTEXT           "Line Pattern", IDC_STATIC, 176, 247, 39, 8, SS_LEFT
    EDITTEXT        IDC_LINESTIPPLEPATTERN, 228, 244, 80, 14, WS_DISABLED | ES_AUTOHSCROLL
    LTEXT           "Repeat Factor", IDC_STATIC, 176, 263, 46, 8, SS_LEFT
    EDITTEXT        IDC_LINESTIPPLEREPEAT, 228, 260, 40, 14, WS_DISABLED | ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPINLINEREPEAT, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 256, 260, 11, 14
    LTEXT           "Fill Stipple", IDC_FILLSTIPPLELLLABEL, 176, 279, 32, 8, WS_DISABLED | SS_LEFT
    COMBOBOX        IDC_FILLSTIPPLETYPE, 210, 276, 64, 30, WS_TABSTOP | WS_DISABLED | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    EDITTEXT        IDC_FILLSTIPPLEFILE, 176, 292, 87, 14, WS_DISABLED | ES_AUTOHSCROLL
    PUSHBUTTON      "...", IDC_FILLSTIPPLEBROWSE, 263, 292, 11, 14
    CONTROL         "", IDC_FILLSTIPPLEPREVIEW, WC_STATIC, WS_BORDER | SS_BLACKRECT, 279, 281, 24, 22
    LTEXT           "Background color", IDC_STATIC, 322, 230, 57, 8, SS_LEFT
    EDITTEXT        IDC_BGCOLOR, 322, 240, 40, 14, ES_AUTOHSCROLL
    CONTROL         "", IDC_BGCOLORSELECT, WC_BUTTON, WS_TABSTOP | WS_TABSTOP | BS_OWNERDRAW, 367, 240, 24, 14
}



//
// Icon resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_DXGL           ICON           "..\\common\\dxgl.ico"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_DXGLSM         ICON           "..\\common\\dxglsm.ico"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDB_DXGLINV        BITMAP         "..\\common\\dxglinv.bmp"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDB_DXGLINV64      BITMAP         "..\\common\\dxglinv64.bmp"

//
// Version Information resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
1 VERSIONINFO
    FILEVERSION     DXGLVERNUMBER
    PRODUCTVERSION  DXGLVERNUMBER
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x00000000
    FILEFLAGS       0x00000000
{
    BLOCK "StringFileInfo"
    {
        BLOCK "08000352"
        {
            VALUE "FileDescription", "DXGL Test App"
            VALUE "FileVersion", DXGLVERSTRING
            VALUE "InternalName", "DXGL"
            VALUE "LegalCopyright", "Copyright © 2011-2012 William Feely"
            VALUE "OriginalFilename", "dxgltest.exe"
            VALUE "ProductName", "DXGL"
            VALUE "ProductVersion", "0.3.0 r217"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0800, 0x0352
    }
}



//
// Manifest resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
1                  RT_MANIFEST    ".\\xp.manifest"
