// DXGL
// Copyright (C) 2011-2012 William Feely

// This library is free software; you can redistribute it and/or
// modify it under the terms of the GNU Lesser General Public
// License as published by the Free Software Foundation; either
// version 2.1 of the License, or (at your option) any later version.

// This library is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
// Lesser General Public License for more details.

// You should have received a copy of the GNU Lesser General Public
// License along with this library; if not, write to the Free Software
// Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"
#include "../common/version.h"




//
// Dialog resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_DXGLCFG DIALOG 0, 0, 405, 250
STYLE DS_3DLOOK | DS_CONTEXTHELP | DS_SETFONT | WS_CAPTION | WS_SYSMENU
CAPTION "DXGL Config (Experimental)"
FONT 8, "Ms Shell Dlg 2"
{
    CONTROL         "", IDC_TABS, WC_TABCONTROL, 0, 7, 35, 391, 192, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 244, 229, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 296, 229, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "&Apply", IDC_APPLY, 348, 229, 50, 14, WS_DISABLED, WS_EX_LEFT
    COMBOBOX        IDC_APPS, 7, 17, 207, 195, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | CBS_OWNERDRAWFIXED, WS_EX_LEFT
    LTEXT           "Application profile", IDC_STATIC, 7, 7, 58, 8, SS_LEFT, WS_EX_LEFT
    PUSHBUTTON      "A&dd...", IDC_ADD, 216, 17, 90, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "&Remove", IDC_REMOVE, 308, 17, 90, 14, WS_DISABLED, WS_EX_LEFT
}



LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_LOADING DIALOG 0, 0, 246, 41
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_BORDER | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_WINDOWEDGE
FONT 8, "Ms Shell Dlg"
{
    LTEXT           "Loading profiles...", 0, 95, 10, 56, 8, SS_LEFT, WS_EX_LEFT
    CONTROL         "", 0, PROGRESS_CLASS, 0, 7, 20, 232, 14, WS_EX_LEFT
}



//
// Icon resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_DXGL           ICON           "..\\common\\dxgl.ico"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_DXGLSM         ICON           "..\\common\\dxglsm.ico"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_STAR           ICON           "..\\common\\star.ico"



//
// Version Information resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
1 VERSIONINFO
    FILEVERSION     DXGLVERNUMBER
    PRODUCTVERSION  DXGLVERNUMBER
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x00000000
    FILEFLAGS       0x00000000
{
    BLOCK "StringFileInfo"
    {
        BLOCK "08000352"
        {
            VALUE "FileDescription", "DXGL Configuration Program"
            VALUE "FileVersion", DXGLVERSTRING
            VALUE "InternalName", "DXGL"
            VALUE "LegalCopyright", "Copyright © 2011-2014 William Feely"
            VALUE "OriginalFilename", "dxglcfg.exe"
            VALUE "ProductName", "DXGL"
            VALUE "ProductVersion", DXGLVERSTRING
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0800, 0x0352
    }
}



//
// Manifest resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST    "xp.manifest"
